
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    Welcome @ViewBag.Username <br />
    Your password is @ViewBag.Password <br />
    You are successfully logined !
</body>
</html>
